@font-face {
    font-family: 'Poppins'; 
    src: url('fonts/Poppins-Medium.ttf') format('truetype'); 
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(209,216,229);
  font-family: 'Poppins'
}
.row{
  display: flex;
  flex-direction: row
}
.col,col-right{
  display: flex;
  flex-direction: column;
  padding-left: 0px;
}
.col-right{
   margin-left: auto;
}
